* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  display: grid;
  padding-top: 10rem;
  grid-template-columns: 1fr;
}

.title {
  font-size: 3rem;
  color: #000;
  font-family: sans-serif;
  line-height: 1.2;
}
.preview {
  font-size: 1.3rem;
  line-height: 1.2rem;
  padding: 20px 0;
}